.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-min(768px) {
    flex-direction: column;
  }

  .txt {
    width: 50%;
  }

  .txt,
  .c2a {

    @include media-min(768px) {
      width: 100%;
      text-align: center !important;
    }
  }

  .txt {
    text-align: left;
  }

  .c2a {
    text-align: right;

    @include media-min(768px) {
      margin-top: 2rem;
    }
  }
}
