.erroSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  

  img {
    width: 100%;
    max-width: 400px;
    max-height: 350px;
  }
}