.navbar {
  max-width: 1920px !important;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 75px;
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  backdrop-filter: blur(20px);

  @include media-min(768px) {
    backdrop-filter: none;
  }

  div {
    margin-left: clamp(20px, 5vw, 130px);
  }

  .navBox {
    min-height: 75px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-primary;
    border-bottom: none;
    border-top: none;
    padding: 0 5px;

    &:nth-child(2) {
      border-left: none;
    }

    @include media-min(768px) {
      border: none;
      flex-direction: column;
    }

    img {
      max-height: 65px;
      width: auto;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .navListLinks {
    display: flex;
    margin-right: clamp(20px, 5vw, 130px);

    @include media-min(768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      margin: 0;
      bottom: 0;
      width: 0;
      right: -100vw;
      height: 100vh;
      padding: 2rem;
      visibility: hidden;
      background: #56ccf2; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to left,
        #2f80ed,
        #56ccf2
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to left,
        #2f80ed,
        #56ccf2
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      transition: all 0.5s ease-out;
    }

    .navItem {
      @include media-min(768px) {
        &::after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 3vw;
          height: 1px;
          background: #000;
        }
      }

      .navLinks {
        padding: 0 0.3rem;
        color: inherit;

        @include media-min(768px) {
          display: block;
          padding: 1rem;
        }
      }
    }
  }

  .navBurger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;

    @include media-min(768px) {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }

    .burgerBar,
    .burgerBar::before,
    .burgerBar::after {
      content: "";
      position: absolute;
      left: 0;

      @include media-min(768px) {
        display: block;
        width: 40px;
        height: 3px;
        border-radius: 3px;
        background: #000;
        transition: all 0.3s ease;
      }
    }

    .burgerBar {
      &:before {
        transform: translateY(-12px);
      }

      &:after {
        transform: translateY(12px);
      }
    }
  }
}

.showNav {
  .navListLinks {
    @include media-min(768px) {
      right: 0;
      width: 100vw;
      visibility: visible;
    }
  }

  .burgerBar::before {
    transform: rotate(45deg) !important;
  }

  .burgerBar::after {
    transform: rotate(-45deg) !important;
  }

  .burgerBar {
    background: transparent !important;
    width: 0 !important;
  }
}
