.button {
  padding: 16px 32px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 16px;
  border: 1px solid black;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .5px;
  background: transparent;
  color: black;
  transition: transform .44s ease, box-shadow .44s ease;

  div {
      display: flex;
      overflow: hidden;
      text-shadow: 0 16px 0 black;
      span {
          display: block;
          backface-visibility: hidden;
          font-style: normal;
          transition: transform .44s ease;
          transform: translateY(var(--m)) translateZ(0);

          $i: 1;
          @while $i < 12 {
              &:nth-child(#{$i}) {
                  transition-delay: $i / 20 + s;
              }
              $i: $i + 1;
          }
      }
  }
  &:hover {
      span {
          --m: calc(16px * -1);
      }
  }
}