
h1{
  font-family: $fontRaleway;
  font-weight: 600;
  font-size: clamp(2rem, 13vw, 15rem);
}

h2{
  font-family: $fontRubik;
  font-weight: 500;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h3{
  font-family: $fontRaleway;
  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h4{
  font-family: $fontRaleway;
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

p{
  font-family: $fontRubik;
  font-weight: 300;
  font-size: clamp(2rem, 2vw, 3rem);
}

a {
  font-family: $fontRubik;
  font-weight: 300;
  font-size: clamp(2.5rem, 3vw, 4rem);
}
